<!DOCTYPE html>
<html>

<body>
    <p>{{game.from_number}} {{game.to_number}}</p>
    {% if game.is_active %}
    <h2>Enter guess number</h2>
    <form data-test="guess_form" method="POST">
        {% csrf_token %}
        <label for="guess_number">Guess number:</label><br>
        <input data-test="guess_number" type="number" id="guess_number" name="guess_number"><br>
        <input data-test="submit" type="submit" id="submit" value="Make a guess">
    </form>
    {% elif not game.is_active %}
    <h2 data-test="is_over">The game is over. You guessed right</h2>
    {% endif %}

    {% for guess in guesses %}
    <p data-test="guess_item">{{ guess.time }} {{ guess.number }}</p>
    {% endfor %}

</body>

</html>